<?xml version="1.0"?>
<launch>
	<arg name="ns" default="create"/>
	<rosparam command="load" file="$(find create_control)/config/control.yaml" ns="$(arg ns)"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner"
		args="create_joint_publisher create_velocity_controller" ns="$(arg ns)"/>
	<!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />-->
</launch>
