<launch>
	<include file="$(find create_control)/launch/control.launch"/>

	<include file="$(find create_description)/launch/description.launch"/>

	<node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model"
		args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param /create/robot_description -model create"/>
</launch>
